.App {
  border-style: solid;
  width: 500px;
  margin: 10px;
}

.MatchStarter {
  border-style: solid;
  height: 100px;
  margin: 10px;
  padding: 10px;
  display: "flex";
}

.Scoreboard {
  border-style: solid;
  height: min-200px;
  margin: 10px;
}

.InputTeam {
  margin-right: 5px;
}

.UL {
  margin: 2px;
  padding: 2px;
}

.MatchRow {
  border: 1px solid;
  padding: 5px;
  margin: 7px;
  list-style-type: none;
}
