.App {
  border-style: solid;
  width: 500px;
  margin: 10px;
}

.MatchStarter {
  border-style: solid;
  height: 100px;
  margin: 10px;
  padding: 10px;
  display: "flex";
}

.Scoreboard {
  border-style: solid;
  height: 200px;
  margin: 10px;
}

.InputTeam {
  margin-right: 5px;
}
